

.container{
    
}

.container {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 width: 50%;
 height: auto;
 margin-left: 25%;
 margin-top: 1%;
 border-radius: 5% 5% 5% 5%;
 padding: 5%;
    box-shadow: 10px 10px 20px  ;
  
 margin-bottom: 10rem;

}

input{
   border-style: none;  
   height: 40px;
   width: 400px;   
   margin-right: 1rem;
   padding-left: 1rem;
   border-radius: 5px 5px;
   border-bottom: 1px solid black;
}

.name{
    margin-top: 1rem;
}

.size1{
    font-size: 3rem;
    font-weight: 900;
    margin-top: -50px;
    color: purple;
}



.errormsg{
    color: red;
}

.image1{
    margin-bottom: 1rem;
    
 
}